.segment {
  background-color: orchid; }

#root {
  max-width: 800px;
  margin: auto; }

.navi-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .navi-bar .navi-item {
    background-color: wheat;
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin: 10px; }
    .navi-bar .navi-item i {
      font-size: 50px; }
  .navi-bar .active {
    border-width: 5px; }
